#menu {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
}

#menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

#menu ul li {
  flex-grow: 1;
  text-align: center;
}

#menu ul li a {
  display: block;
  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration: none;
  color: #000;
}
